{% extends "layout.html" %}
{% block content %}
    {% load staticfiles %}
            <!-- Main -->
			<div id="main">

				<div class="row" style="margin-top: 20px" >
                    <div class="column" style="margin-left: 50px;margin-top: 20px">
						<img src="{{ image }}" style="display: block;  width: auto; height: 220px;max-width: 400px" />
					</div>

                    <div class="column" style="margin-left: 40px" about="http://www.music.pt/preds">

                        <h1 style="font-size: 40px;  color: white"><span property="http://www.music.pt/preds/album_name">{{ album }}</span></h1>
                        <div style=" font-weight: bold;" >
                            {% for i in artists_name %}
                                <a style="margin-top: 10%; color: white"><span property="http://www.music.pt/preds/artist_name">{{ i }}</span></a>
                            {% endfor %}
					    </div>
                        <div style="font-weight: bold;" >
                            <a style="margin-top: 10px; font-size: 20px; color: white"><span property="http://www.music.pt/preds/date">{{ date }}</span></a>
					    </div>

                        <div style="font-weight: bold;" >
                            <h2 style="font-size: 20px">Number of songs: </h2>
                            <a style=" color: white"><span property="http://www.music.pt/preds/n_songs">{{ songs }}</span></a>
                        </div>

                    </div>


                    <div class="column" style="margin-left: 200px" about="http://www.music.pt/preds">
                         <p style="margin-bottom: 10px">Genres:</p>
                        <div style=" font-weight: bold;" >
                            {% for i in genre %}
                                <p style="margin-bottom: -15px; color: white"><span property="http://www.music.pt/preds/genre_name">{{ i }}</span></p>
                            {% endfor %}
                        </div>
                        <div style="font-weight: bold;margin-top:40px;" >
                            <h2 style="font-size: 20px; color: #888 ">Record Label:</h2>
                            {% for i in record %}
                                <a style="margin-top: 5%; color: white"><span property="http://www.music.pt/preds/record_label">{{ i }}</span></a>
                            {% endfor %}
                        </div>

                    </div>





				</div>


				<div style="margin-top: 100px">
					<table style="width: 100%;">
						<h1 style="font-size:30px; margin-left: 70px;color: white ">Musics</h1>

                        {% for i in musics %}
						<tr>
							<td style="text-align:center; vertical-align: middle;color: white"><i  class="far fa-play-circle fa-lg"></i></td>
							<td style="color: white">{{i}}</td>
							<td style="text-align:center; vertical-align: middle;"><a href="#"><img src='{% static "images/plus.png" %}' width="35" height="35" /></a></td>
						<tr>
                        {% endfor %}

					</table>
				</div>


			</div>
{% endblock %}