{% extends "layout.html" %}
{% block content %}
<html>
	<head>
		<style>
			.grid-container {
				display: inline-grid;
				grid-template-columns: auto auto auto auto auto auto;
			}
			.grid-item {
				height: 150px;
				width: 150px;
				font-size: 30px;
				text-align: center;
				margin-left: 50px;
				margin-bottom: 220px;
                margin-top: 5px;


			}
		</style>
	</head>


			<div id="main">
                <div style="display: flex; margin-left: 5%; margin-top: 2%; margin-bottom: 0%">
					<h1 style="font-size: 60px; color:white">Albums</h1>
				</div>
				<!-- Intro -->

						<div class="grid-container" style="max-width: 500px; color:white; ">
                            {% for k,v in albums.items %}
                                {% with y=photos|get_item:k %}
							        <div class ="grid-item" ><img id="{{ k }}"  src="{{ y }}" style="width:150px; height:150px; " usemap="#workmap'{{forloop.counter}}'"><p style="font-size: 20px;">{{ v }}</p>
							        	<map name="workmap'{{forloop.counter}}'">
											<area shape="rect" coords="0,0,100,200" alt="playlist" href="/add_album?Album={{ k }}" onmouseover="setNewImage1('{{ k }}')" onmouseout="setOldImage1('{{ k }}', '{{ y }}')">
											<area shape="rect" coords="100,0,200,200" alt="goto" href="/album_details2?Album={{ k }}" onmouseover="setNewImage1('{{ k }}')" onmouseout="setOldImage1('{{ k }}', '{{ y }}')">
										</map>
							        </div>
						        {% endwith %}
                            {% endfor %}
                        </div>



			</div>

    <script>
    	{% load staticfiles %}
    	
        function MyFunction(){
            document.getElementById("about-link").className="active";
        }

        function setNewImage1(b){
        	console.log(b);
			document.getElementById(b).src='{% static "images/logo_start3.png" %}';
		}

		function setOldImage1(k,y){

			document.getElementById(k).src=y;
		}
    </script>

</html>

{% endblock %}