{% extends "layout.html" %}
{% block content %}
    {% load staticfiles %}
			<div id="main">

				<div>
					<div class="row" style="display: flex;">
						<div class="column" style="margin-left: 2%">
							<img src="{{ photo2 }}" style="display: block; margin-left: auto; margin-right: auto; margin-top: 5%; width: auto; height: 250px; max-width: 400px" />
						</div>
						<div class="column"  about="http://www.music.pt/preds">
                            <h1 style="font-size: 60px;margin-left: 40px; color:white"><span property="http://www.music.pt/preds/artist_name">{{ artist }}</span></h1>

                            <h1 style="margin-top: 5px; margin-left: 45px; font-size: 25px; color: red"><span property="http://www.music.pt/preds/country_name">{{ country }}</span></h1>

                            <div style="margin-left: 500px;margin-top: -60px">
                                 <p style="font-size: 25px;margin-bottom: 0px" >Genres:</p>
                                {% for i in genre %}
                                    <div>
                                        <a style=" margin-left: 10px; margin-top: -40px; font-size: 25px; color: white"><span property="http://www.music.pt/preds/genre_name">{{ i }}</span></a>
                                    </div>
                                {% endfor %}
                            </div>

                            <h1 style="margin-top: -30px; margin-left: 45px; font-size: 18px; color: white"><span property="http://www.music.pt/preds/date">{{ date }}</span></h1>
						</div>
					</div>
				</div>
				<div style="display: flex; margin-left: 5%; margin-top: 1%; margin-bottom: 1%">
					<h1 style="font-size: 30px;color: white ">Musics</h1>
				</div>
				<div>
					<table style="width: 100%;">
                        {% for i in musics %}
                            <tr>
                                <td style="text-align:center; vertical-align: middle;color: white "><i  class="far fa-play-circle fa-lg"></i></td>
                                <td style="color: white ">{{ i }}</td>
                                <td style="text-align:center; vertical-align: middle;"><a href="#"><img src='{% static "images/plus.png" %}' width="35" height="35" /></a></td>
                            <tr>
                        {% endfor %}

					</table>
				</div>
				<div style="display: flex; margin-left: 5%; margin-top: 1%; margin-bottom: 2%">
					<h1 style="font-size: 30px; color: white ">Albums</h1>
				</div>

				<div class="row" style="display: flex;">
                    {% for k,v in albums.items %}
					<div class="column" style="flex: 33.33%;">
						<img src="{{v}}" style="display: block; margin-left: auto; margin-right: auto; width: 200px; height: 200px" />
                        <h1 style="text-align: center; margin-top: 4%;color: white ">{{ k }}</h1>
					</div>
                    {% endfor %}
                </div>
			</div>
{% endblock %}