{% extends "layout.html" %}
{% block content %}
        {% load staticfiles %}
		<!-- Main -->
			<div id="main" >

				<div >
					<div class="row" style="display: flex;">
						<div class="column" style="margin-left: 50px;margin-top: 30px">
							<img src="{{ image }}" style="display: block; margin-left: auto; margin-right: auto; margin-top: 5%; width: auto; height: 220px;max-width: 400px" />
						</div>
						<div class="column" about="http://www.music.pt/preds" >
                            <h1 style="margin-top: 30px; margin-left: 40px;font-size: 40px;color:white"><span property="http://www.music.pt/preds/genre_name"> {{ genre }}</span></h1>
							<h2 style="margin-top:5px;margin-left: 40px; font-size: 25px; color: red"><span property="http://www.music.pt/preds/country_name">{{ country }}</span></h2>
                            <h2 style="margin-top: 10px;margin-left: 40px; font-size: 25px; color: white"><span property="http://www.music.pt/preds/date">{{ date }}</span></h2>
                            <h2 style="margin-top: 10px;margin-left: 40px; font-size: 25px; color: white"><span property="http://www.music.pt/preds/n_albums">{{ nalbums }} Albums</span></h2>
                            <h2 style="margin-top: 10px;margin-left: 40px; font-size: 25px; color: white"><span property="http://www.music.pt/preds/n_artists">{{ nartists }} Artists</span></h2>
                            <h2 style="margin-top: 10px;margin-left: 40px; font-size: 25px; color: white"><span property="http://www.music.pt/preds/n_music">{{ nmusic }} Musics</span></h2>

                        </div>
					</div>
				</div>
				<div style="display: flex; margin-left: 5%; margin-top: 20px; margin-bottom: 1%">
					<h1 style="font-size: 30px; color:white">Musics</h1>
				</div>
				<div>
					<table style="width: 100%;">
                        {% for i in music %}
						<tr>
							<td style="text-align:center; vertical-align: middle;color:white"><i  class="far fa-play-circle fa-lg"></i></td>
							<td style="color:white">{{ i }}</td>
							<td style="text-align:center; vertical-align: middle;"><a href="#"><img src='{% static "images/plus.png" %}' width="35" height="35" /></a></td>
						<tr>
						{% endfor %}

					</table>
				</div>
				<div style="display: flex; margin-left: 5%; margin-top: 1%; margin-bottom: 2%">
					<h1 style="font-size: 30px; color:white">Artists</h1>
				</div>

				<div class="row" style="display: flex;">
                    {% for k, v in artists.items %}
					<div class="column" style="flex: 33.33%;">
						<img src="{{v}}" style="display: block; margin-left: auto; margin-right: auto; width: 200px; height: 200px" />
					    <h1 style="text-align: center; margin-top: 4%;color:white">{{ k }}</h1>
                    </div>
                    {% endfor %}
				</div>

				<div style="display: flex; margin-left: 5%; margin-top: 5%; margin-bottom: 2%">
					<h1 style="font-size: 30px; color:white">Albums</h1>
				</div>

				<div class="row" style="display: flex;">
					{% for k, v in albums.items %}
                    <div class="column" style="flex: 33.33%;">
						<img src="{{ v }}" style="display: block; margin-left: auto; margin-right: auto; width: 200px; height: 200px" />
					     <h1 style="text-align: center; margin-top: 4%;color:white">{{ k }}</h1>
                    </div>
                    {% endfor %}

				</div>
			</div>
{% endblock %}