{% extends "layout.html" %}
{% block content %}
		<!-- Main -->
			<div id="main">
				<div style="display: flex; margin-top: 3%; margin-left: 5%">
					<h1 style="font-size: 50px; color:white">Trending right now</h1>
				</div>

				<div style="display: flex; margin-left: 5%; margin-top: 2%; margin-bottom: 2%">
					<h1 style="font-size: 30px; color: white">Artists</h1>
				</div>

				<div class="row" style="display: flex;">
					<div class="column" style="flex: 33.33%;">
						<img id="img1" usemap="#workmap" src= "{{ a1photo }}" style="display: block; margin-left: auto; margin-right: auto; width: 200px; height: 200px" />
						<h1 style="text-align: center; margin-top: 4%;color: white">{{ a1name }}</h1>
					</div>
					<div class="column" style="flex: 33.33%;">
						<img id="img2" usemap="#workmap2" src="{{ a2photo }}"  style="display: block; margin-left: auto; margin-right: auto; width: 200px; height: 200px" />
						<h1 style="text-align: center; margin-top: 4%;color: white">{{ a2name }}</h1>
					</div>
					<div class="column" style="flex: 33.33%;">
						<img id="img3" usemap="#workmap3" src="{{ a3photo }}" style="display: block; margin-left: auto; margin-right: auto; width: 200px; height: 200px" />
						<h1 style="text-align: center; margin-top: 4%;color: white"><b>{{ a3name }}</b></h1>
					</div>

				</div>

				<div style="display: flex; margin-left: 5%; margin-top: 2%; margin-bottom: 2%">
					<h1 style="font-size: 30px; color:white">Albums</h1>
				</div>

				<div class="row" style="display: flex;">
					<div class="column" style="flex: 33.33%;">
						<img id="img4" usemap="#workmap4" src="{{ a4photo }}" style="display: block; margin-left: auto; margin-right: auto; width: 200px; height: 200px" />
						<h1 style="text-align: center; margin-top: 4%;color: white">{{ a4name }}</h1>
					</div>
					<div class="column" style="flex: 33.33%;">
						<img id="img5" usemap="#workmap5" src="{{ a5photo }}"  style="display: block; margin-left: auto; margin-right: auto; width: 200px; height: 200px" />
						<h1 style="text-align: center; margin-top: 4%;color: white">{{ a5name }}</h1>
					</div>
					<div class="column" style="flex: 33.33%;">
						<img id="img6" usemap="#workmap6" src="{{ a6photo }}" style="display: block; margin-left: auto; margin-right: auto; width: 200px; height: 200px" />
						<h1 style="text-align: center; margin-top: 4%;color: white">{{ a6name }}</h1>
					</div>

				</div>

			</div>

			<map name="workmap">
				<area shape="rect" coords="0,0,100,200" alt="playlist" href="/add_artist?Artist={{ a1wiki }}" onmouseover="setNewImage1()" onmouseout="setOldImage1()">
				<area shape="rect" coords="100,0,200,200" alt="goto" href="/artist_details?Artist={{ a1wiki }}" onmouseover="setNewImage1()" onmouseout="setOldImage1()">
			</map>

			<map name="workmap2">
				<area shape="rect" coords="0,0,100,200" alt="playlist" href="/add_artist?Artist={{ a2wiki }}" onmouseover="setNewImage2()" onmouseout="setOldImage2()">
				<area shape="rect" coords="100,0,200,200" alt="goto" href="/artist_details?Artist={{ a2wiki }}" onmouseover="setNewImage2()" onmouseout="setOldImage2()">
			</map>

			<map name="workmap3">
				<area shape="rect" coords="0,0,100,200" alt="playlist" href="/add_artist?Artist={{ a3wiki }}" onmouseover="setNewImage3()" onmouseout="setOldImage3()">
				<area shape="rect" coords="100,0,200,200" alt="goto" href="/artist_details?Artist={{ a3wiki }}" onmouseover="setNewImage3()" onmouseout="setOldImage3()">
			</map>

			<map name="workmap4">
				<area shape="rect" coords="0,0,100,200" alt="playlist" href="/add_album?Album={{ a4wiki }}" onmouseover="setNewImage4()" onmouseout="setOldImage4()">
				<area shape="rect" coords="100,0,200,200" alt="goto" href="/album_details2?Album={{ a4wiki }}" onmouseover="setNewImage4()" onmouseout="setOldImage4()">
			</map>

			<map name="workmap5">
				<area shape="rect" coords="0,0,100,200" alt="playlist" href="/add_album?Album={{ a5wiki }}" onmouseover="setNewImage5()" onmouseout="setOldImage5()">
				<area shape="rect" coords="100,0,200,200" alt="goto" href="/album_details2?Album={{ a5wiki }}" onmouseover="setNewImage5()" onmouseout="setOldImage5()">
			</map>

			<map name="workmap6">
				<area shape="rect" coords="0,0,100,200" alt="playlist" href="/add_album?Album={{ a6wiki }}" onmouseover="setNewImage6()" onmouseout="setOldImage6()">
				<area shape="rect" coords="100,0,200,200" alt="goto" href="/album_details2?Album={{ a6wiki }}" onmouseover="setNewImage6()" onmouseout="setOldImage6()">
			</map>

			<script>
                {% load staticfiles %}

				function setNewImage1(){
					document.getElementById("img1").src='{% static "images/logo_start3.png" %}';
					document.getElementById("img1").usemap="#workmap";
				}

				function setOldImage1(){
					document.getElementById("img1").src="{{ a1photo }}";
				}
				function setNewImage2(){
					document.getElementById("img2").src='{% static "images/logo_start3.png" %}';
					document.getElementById("img2").usemap="#workmap2";
				}

				function setOldImage2(){
					document.getElementById("img2").src="{{ a2photo }}";
				}
				function setNewImage3(){
					document.getElementById("img3").src='{% static "images/logo_start3.png" %}';
					document.getElementById("img3").usemap="#workmap3";
				}

				function setOldImage3(){
					document.getElementById("img3").src="{{ a3photo }}";
				}

				function setNewImage4(){
					document.getElementById("img4").src='{% static "images/logo_start3.png" %}';
					document.getElementById("img4").usemap="#workmap4";
				}

				function setOldImage4(){
					document.getElementById("img4").src="{{ a4photo }}";
				}

				function setNewImage5(){
					document.getElementById("img5").src='{% static "images/logo_start3.png" %}';
					document.getElementById("img5").usemap="#workmap5";
				}

				function setOldImage5(){
					document.getElementById("img5").src="{{ a5photo }}";
				}

				function setNewImage6(){
					document.getElementById("img6").src='{% static "images/logo_start3.png" %}';
					document.getElementById("img6").usemap="#workmap6";
				}

				function setOldImage6(){
					document.getElementById("img6").src="{{ a6photo }}";
				}

			</script>

{% endblock %}