<!DOCTYPE HTML>
<html>
	<head>
		<title>MUSICTUBE</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        {% load staticfiles %}
        <link rel="stylesheet" href='{% static "assets/css/main.css" %}'/>
	</head>
	<body onload="MyFunction()" class="is-preload" style="background-repeat: no-repeat; background-size: cover;background-attachment: fixed; background-image: url('{% static 'images/background.jpg'%}')">

		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo" >
							<span class="image avatarfull" ><a href="/"><img style="width: 266px" src='{% static "images/logo.png"%}' /></a></span>
						</div>

                    <!-- Nav -->
						<nav id="nav" style="margin-top: 100px;">
							<ul>
								<li onclick="mudar()"><a id="top-link" style="cursor: pointer" class="#"><span class="icon solid fa-user">Artists</span></a>
									<ul id="lol" style="display: none;cursor: pointer">
										<li><a href="/artists/" id="top-link2"><span class="icon solid" style="display: block; margin-right: 10%;">Grid</span></a></li>
										<li><a href="/artists_list/" id="top-link3"><span class="icon solid" style="display: block; margin-right: 10%;">List</span></a></li>
									</ul>
								</li>
								<li onclick="mudar2()"><a id="portfolio-link" class="#" style="cursor: pointer"><span class="icon solid fa-th">Genres</span></a>
									<ul id="lol2" style="display: none;">
										<li><a href="/genres/" id="top-link2"><span class="icon solid" style="display: block; margin-right: 10%;cursor: pointer">Grid</span></a></li>
										<li><a href="/genres_list/" id="top-link3"><span class="icon solid" style="display: block; margin-right: 10%;cursor: pointer">List</span></a></li>
									</ul>
								</li>
								<li onclick="mudar3()"><a id="about-link" class="#"style="cursor: pointer"><span class="icon solid fa-compact-disc">Albums</span></a>
									<ul id="lol3" style="display: none;">
										<li><a href="/albums/" id="top-link2"><span class="icon solid" style="display: block; margin-right: 10%;cursor: pointer">Grid</span></a></li>
										<li><a href="/albums_list/" id="top-link3"><span class="icon solid" style="display: block; margin-right: 10%;cursor: pointer">List</span></a></li>
									</ul>
								</li>
								<li><a href="/musics/" id="contact-link"><span class="icon solid fa-music">Musics</span></a></li>
                                <li><a href="/playlist/" id="contact-link"><span class="icon solid fa-heart">My Playlist</span></a></li>
							</ul>
						</nav>

				</div>


			</div>
            <!-- main content area end -->
            {% block content %} {% endblock %}

	    	<!-- Scripts -->
            <script>

				function mudar() {
  					var x = document.getElementById("lol");
				  	if (x.style.display === "none") {
				   		x.style.display = "block";
				  	} else {
				    	x.style.display = "none";
				  	}
				}

				function mudar2() {
  					var x = document.getElementById("lol2");
				  	if (x.style.display === "none") {
				   		x.style.display = "block";
				  	} else {
				    	x.style.display = "none";
				  	}
				}

				function mudar3() {
  					var x = document.getElementById("lol3");
				  	if (x.style.display === "none") {
				   		x.style.display = "block";
				  	} else {
				    	x.style.display = "none";
				  	}
				}


			</script>
			<script src='{% static "assets/js/jquery.min.js"%}'></script>
			<script src='{% static "assets/js/jquery.scrolly.min.js"%}'></script>
			<script src='{% static "assets/js/jquery.scrollex.min.js"%}'></script>
			<script src='{% static "assets/js/browser.min.js"%}'></script>
			<script src='{% static "assets/js/breakpoints.min.js"%}'></script>
			<script src='{% static "assets/js/util.js"%}'></script>
			<script src='{% static "assets/js/main.js"%}'></script>

	</body>
</html>