{% extends "layout.html" %}
{% block content %}
    <head>
		<style>
				/* Button */

			input[type="button"],
			button,
			.button {
				position: relative;
				display: inline-block;
				border-radius: 0.35em;
				color: #fff !important;
				text-decoration: none;
				padding: 0.75em 0.75em 0.75em 0.75em;
				background-color: Transparent;
				font-size:15px;
				font-weight:bold;
				border: 0;
				cursor: pointer;
				-moz-transition: background-color 0.35s ease-in-out;
				-webkit-transition: background-color 0.35s ease-in-out;
				-ms-transition: background-color 0.35s ease-in-out;
				transition: background-color 0.35s ease-in-out;
			}

				input[type="button"]:hover,

				button:hover,
				.button:hover {
					background-color: red;
				}

				input[type="button"]:active,
				button:active,
				.button:active {
					background-color: red;
				}
            .dropbtn {
                  background-color: transparent;
                  padding: 16px;
                  font-size: 16px;

                }

                .dropdown {
                  position: relative;
                  display: inline-block;

                }

                .dropdown-content {
                  display: none;
                  position: absolute;
                  background-color: rgba(51,51,51,0.5);
                  min-width: 160px;
                  font-size: 20px;

                  z-index: 1;
                }

                .dropdown-content a {
                  color: red;
                  padding: 12px 16px;
                  text-decoration: none;
                  display: block;
                }

                .dropdown-content a:hover {background-color: white; color:  #ff4a48;}

                .dropdown:hover .dropdown-content {display: block;}

                .dropdown:hover .dropbtn {background-color:  #ff4a48;}



		</style>
    </head>

		<!-- Main -->
			<div id="main">
                <div style="display: flex; margin-left: 5%; margin-top: 2%; margin-bottom: 0%">
					<h1 style="font-size: 60px;color:white ">Genres</h1>
				</div>
				<button id="ALL" onclick="window.location.onclick=window.location.href='/genres_list?Letter=ALL'" style="margin-left: 100px; margin-top:30px;"> ALL </button>
				<button id="A" onclick="window.location.href='/genres_list?Letter=A'"> A </button>
				<button id="B" onclick="window.location.href='/genres_list?Letter=B'"> B </button>
				<button id="C" onclick="window.location.href='/genres_list?Letter=C'"> C </button>
				<button id="D" onclick="window.location.href='/genres_list?Letter=D'"> D </button>
				<button id="E" onclick="window.location.href='/genres_list?Letter=E'"> E </button>
				<button id="F" onclick="window.location.href='/genres_list?Letter=F'"> F </button>
				<button id="G" onclick="window.location.href='/genres_list?Letter=G'"> G </button>
				<button id="H" onclick="window.location.href='/genres_list?Letter=H'"> H </button>
				<button id="I" onclick="window.location.href='/genres_list?Letter=I'"> I </button>
				<button id="J" onclick="window.location.href='/genres_list?Letter=J'"> J </button>
				<button id="K" onclick="window.location.href='/genres_list?Letter=K'"> K </button>
				<button id="L" onclick="window.location.href='/genres_list?Letter=L'"> L </button>
				<button id="M" onclick="window.location.href='/genres_list?Letter=M'"> M </button>
				<button id="N" onclick="window.location.href='/genres_list?Letter=N'"> N </button>
				<button id="O" onclick="window.location.href='/genres_list?Letter=O'"> O </button>
				<button id="P" onclick="window.location.href='/genres_list?Letter=P'"> P </button>
				<button id="Q" onclick="window.location.href='/genres_list?Letter=Q'"> Q </button>
				<button id="R" onclick="window.location.href='/genres_list?Letter=R'"> R </button>
				<button id="S" onclick="window.location.href='/genres_list?Letter=S'"> S </button>
				<button id="T" onclick="window.location.href='/genres_list?Letter=T'"> T </button>
				<button id="U" onclick="window.location.href='/genres_list?Letter=U'"> U </button>
				<button id="V" onclick="window.location.href='/genres_list?Letter=V'"> V </button>
				<button id="W" onclick="window.location.href='/genres_list?Letter=W'"> W </button>
				<button id="X" onclick="window.location.href='/genres_list?Letter=X'"> X </button>
				<button id="Y" onclick="window.location.href='/genres_list?Letter=Y'"> Y </button>
				<button id="Z" onclick="window.location.href='/genres_list?Letter=Z'"> Z </button>
				<!-- Intro -->
                <div class="dropdown" style="margin-left: 1000px; margin-top: 10px;">
                  <button class="dropbtn">+FILTROS</button>
                  <div class="dropdown-content">
                    <a href="/genres_list?Order=Genres">A-Z GENRES</a>
                    <a href="/genres_list?Order=ZGenres">Z-A GENRES</a>
                  </div>
                </div>
				<div>
				<table style ="width:auto; margin-top: 40px; margin-left:40px; color: white ">
                   {% for k, v in genres.items %}
                        <tr>
                            <td style="text-align:center; vertical-align: middle;"><a href="#"><i  class="icon solid fa-th fa-lg"></i></a></td>
                               <td style="text-align:center; vertical-align: middle; max-width: 525px;cursor: pointer;font-size: 30px"  >{{v}} </td>
                                <td style="min-width: 500px"></td>
                                <td style="text-align:center; vertical-align: middle;"><a href="/add_genre?Genre2={{ k }}"><i class="icon solid fa-heart fa-lg"></i></a></td>
                        <tr>
                    {% endfor %}

				</table>
				</div>

			</div>
            <script>
                function MyFunction(){
                    document.getElementById("portfolio-link").className="active";
                }
            </script>


{% endblock %}>