{% extends "layout.html" %}
{% block content %}

	<head>

		<style>

			/* Button */

			input[type="button"],
			button,
			.button {
				position: relative;
				display: inline-block;
				border-radius: 0.35em;
				color: #fff !important;
				text-decoration: none;
				padding: 0.75em 0.75em 0.75em 0.75em;
				background-color: Transparent;
				font-size:15px;
				font-weight:bold;
				border: 0;
				cursor: pointer;
				-moz-transition: background-color 0.35s ease-in-out;
				-webkit-transition: background-color 0.35s ease-in-out;
				-ms-transition: background-color 0.35s ease-in-out;
				transition: background-color 0.35s ease-in-out;
			}

				input[type="button"]:hover,

				button:hover,
				.button:hover {
					background-color: red;
				}

				input[type="button"]:active,
				button:active,
				.button:active {
					background-color: red;
				}

              .dropbtn {
                  background-color: transparent;
                  padding: 16px;
                  font-size: 16px;

                }

                .dropdown {
                  position: relative;
                  display: inline-block;

                }

                .dropdown-content {
                  display: none;
                  position: absolute;
                  background-color: rgba(51,51,51,0.5);
                  min-width: 160px;
                  font-size: 20px;

                  z-index: 1;
                }

                .dropdown-content a {
                  color: red;
                  padding: 12px 16px;
                  text-decoration: none;
                  display: block;
                }

                .dropdown-content a:hover {background-color: white; color:  #ff4a48;}

                .dropdown:hover .dropdown-content {display: block;}

                .dropdown:hover .dropbtn {background-color:  #ff4a48;}




		</style>
	</head>
		<!-- Main -->
			<div id="main">
                <div style="display: flex; margin-left: 5%; margin-top: 2%; margin-bottom: 0%">
					<h1 style="font-size: 60px; color:white">Music</h1>
				</div>
				<button id="ALL" onclick="window.location.onclick=window.location.href='/musics?Letter=ALL'" style="margin-left: 100px; margin-top:30px;"> ALL </button>
				<button id="A" onclick="window.location.href='/musics?Letter=A'"> A </button>
				<button id="B" onclick="window.location.href='/musics?Letter=B'"> B </button>
				<button id="C" onclick="window.location.href='/musics?Letter=C'"> C </button>
				<button id="D" onclick="window.location.href='/musics?Letter=D'"> D </button>
				<button id="E" onclick="window.location.href='/musics?Letter=E'"> E </button>
				<button id="F" onclick="window.location.href='/musics?Letter=F'"> F </button>
				<button id="G" onclick="window.location.href='/musics?Letter=G'"> G </button>
				<button id="H" onclick="window.location.href='/musics?Letter=H'"> H </button>
				<button id="I" onclick="window.location.href='/musics?Letter=I'"> I </button>
				<button id="J" onclick="window.location.href='/musics?Letter=J'"> J </button>
				<button id="K" onclick="window.location.href='/musics?Letter=K'"> K </button>
				<button id="L" onclick="window.location.href='/musics?Letter=L'"> L </button>
				<button id="M" onclick="window.location.href='/musics?Letter=M'"> M </button>
				<button id="N" onclick="window.location.href='/musics?Letter=N'"> N </button>
				<button id="O" onclick="window.location.href='/musics?Letter=O'"> O </button>
				<button id="P" onclick="window.location.href='/musics?Letter=P'"> P </button>
				<button id="Q" onclick="window.location.href='/musics?Letter=Q'"> Q </button>
				<button id="R" onclick="window.location.href='/musics?Letter=R'"> R </button>
				<button id="S" onclick="window.location.href='/musics?Letter=S'"> S </button>
				<button id="T" onclick="window.location.href='/musics?Letter=T'"> T </button>
				<button id="U" onclick="window.location.href='/musics?Letter=U'"> U </button>
				<button id="V" onclick="window.location.href='/musics?Letter=V'"> V </button>
				<button id="W" onclick="window.location.href='/musics?Letter=W'"> W </button>
				<button id="X" onclick="window.location.href='/musics?Letter=X'"> X </button>
				<button id="Y" onclick="window.location.href='/musics?Letter=Y'"> Y </button>
				<button id="Z" onclick="window.location.href='/musics?Letter=Z'"> Z </button>
	            <div class="dropdown" style="margin-left: 1000px; margin-top: 10px;">
					<button class="dropbtn">+FILTROS</button>
					  	<div class="dropdown-content">
					    	<a href="/musics?Order=Musics">A-Z MUSIC</a>
                            <a href="/musics?Order=ZMusics">Z-A MUSIC</a>
					    	<a href="/musics?Order=Artist">A-Z ARTIST</a>
                            <a href="/musics?Order=ZArtist">Z-A ARTIST</a>
					    	<a href="/musics?Order=Recent">RECENT</a>
					    	<a class="dropdown" onclick="changeYear()" style="">YEAR
                                {% load staticfiles %}
					      		<img src='{% static "images/adr.png" %}' style="margin-left: 25%; vertical-align: middle; width: 20px; height: 20px" />
					    	</a>
					    <div class="dropdown-content" id="year" style="display: none;">
					      	<a href="/musics?Order=80">80's</a>
					      	<a href="/musics?Order=90">90's</a>
					      	<a href="/musics?Order=2000">2000's</a>
					      	<a href="/musics?Order=2010">2010's</a>
					    </div>
					</div>
				</div>
				<!-- Intro -->
				<div>
				<table style ="width:auto; margin-top: 80px; margin-left:40px; ">
					<tr style="background-color: transparent" >
						<th style="background-color: transparent"></th>
						<th style="background-color: transparent"><a style="font-weight: bold" onclick="window.location.href='#'" ></a></th>
						<th style="background-color: transparent"></th>

					</tr>
                    {% for k,v in music.items %}
                        {% with y=artist|get_item:k %}

					<tr>
						<td style="text-align:center; vertical-align: middle;"><a href="/music_details?Music={{ k }}"><i  class="far fa-play-circle fa-lg"></i></a></td>
						<td style="min-width: 495px; max-width: 495px;">{{v}}</td></td>
						<td style="min-width: 495px; max-width: 495px;"></td>
                        <td style="text-align:center; vertical-align: middle;"><a href="/addmusic?Music={{ k }}"><i class="icon solid fa-heart fa-lg"></i></a></td>
                    </tr>
					<tr>

                        {% endwith %}
                    {% endfor %}
				</table>
				</div>


			</div>

			<script>
			  function changeYear(){
			    var x = document.getElementById("year");
			    if (x.style.display === "none") {
			        x.style.display = "block";
			    } else {
			        x.style.display = "none";
			    }
			  }
			</script>


{% endblock %}