{% extends "layout.html" %}
{% block content %}
    <head>
        <style>
            .lyrics a{
				color:#ff4a48;;
				font-size:18px;

			}
			.lyrics a:hover{
				color: RED;
			}
		</style>
    </head>
            <!-- Main -->
			<div id="main">
				<!-- Intro -->
				<div style="display: flex; align-items: center; justify-content: center; margin-top: 2%;">
					<iframe width="956" height="538" src="https://www.youtube.com/embed/{{ youtube }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

				<div style="background-color: rgba(51,51,51,0.5); margin-left:130px; max-width:960px; margin-top: 10px;">
					<div>

						<a style="font-size:30px;color: white; margin-left:40px">{{ music }},
                            {% for i in artists %}
                            <a style="color:white;font-size:30px"> {{ i }}
                            </a>
                            {% endfor %}
                        </a>

                    </div>
					<div>
						<a style="color:white ; margin-left: 40px; font-size: 18px">{{ date }} </a>
					</div>
                     <div style = "margin-left: 910px; margin-top: -75px">
                       <a href="/addmusic?Music={{ wiki }}"><i class="icon solid fa-heart fa-2x"></i></a>
                    </div>
                    <div class="lyrics" style="margin-top: 10px">
                        <h2 style="font-size: 20px; color: #888;margin-left:800px; ">Watch the <a  href="https://www.metrolyrics.com/{{ lyrics }}" style="margin-left:10px;font-size: 20px; font-weight: bold">LYRICS</a></h2>
					</div>
                      <h2 style="margin-top:10px;margin-left: 600px;font-size: 20px; color: #888 ">Record Label:</h2>
                      {% for i in record %}
                            <div style="margin-left: 600px">
                                 <a style="color:white; margin-left: 5px; font-size:20px">{{ i }}</a>

					        </div>
                        {% endfor %}




					<div style="margin-left:60px;margin-top: -70px;min-height: 200px">
                        <p style="margin-bottom: 0px">Genres:</p>
                        {% for i in genre %}
                            <div >
						         <a style="color:white; font-size: 20px;">{{ i }}</a>
                            </div>
                        {% endfor %}

                    </div>

				</div>
			</div>
{% endblock %}