{% extends "layout.html" %}
{% block content %}
    <style>
			.grid-container {
				display: inline-grid;
				grid-template-columns: auto auto auto;
			}
			.grid-item {
				height: 150px;
				width: 150px;
				font-size: 30px;
				text-align: center;
				margin-left: 50px;
				margin-bottom: 150px;
                margin-top: 5px;

			}
		</style>

			<div id="main">
                <h1 style="margin-top: 30px; margin-left: 50px;font-size: 50px; font-weight: bold;color: white">{{ nome }}</h1>
				<div class="row" style="display: flex; margin-top: 2%">
					<div class="column" style="flex: 20%; text-align: center;">
						<i style="color: #A6ADAC" class="fas fa-music fa-7x"></i>
						<h1 style="margin-top: 5%; color: white">{{ songs }} SONGS</h1>
					</div>
					<div class="column" style="flex: 80%;">
						<table style="width: 90%;">
							{% for k, v in music.items %}
                                <tr>
                                    <td style="text-align:center; vertical-align: middle;color: white"><a href="/music_details?Music={{ k }}"><i  class="far fa-play-circle fa-lg"></i></a></td>
                                    <td style="color: white">{{ v }}</td>
                                    <td style="text-align:center; vertical-align: middle;color: white"><a href="/removemusic?Music={{ k }}"><i  class="far fa-trash-alt fa-1x"></i></a></td>
                                <tr>
                            {% endfor %}

						</table>

					</div>
				</div>

                <div class="row" style="display: flex; margin-top: 2%">
                    <div class="column" style="flex: 20%; text-align: center;">
						<i style="color: #A6ADAC" class="fas fa-compact-disc fa-7x"></i>
						<h1 style="margin-top: 5%; color: white">{{ calbum }} Album</h1>
					</div>
                    <div class="column" style="flex: 80%;">
                        <div class="grid-container">
                            {% for k,v in album.items %}
                                {% with y=al_photo|get_item:k %}
                                    <div class="grid-item" style="margin-left: 100px">
                                        <img id="{{ k }}" src="{{ y }}" style="display: block;  width: 200px; height: 200px" usemap="#workmap'{{forloop.counter}}'"/>
                                        <p style="font-size: 20px; color: white">{{ v }}</p>
                                        <map name="workmap'{{forloop.counter}}'">
                                            <area shape="rect" coords="0,0,100,200" alt="playlist" href="/album_details2?Album={{ k }}" onmouseover="setNewImage1('{{ k }}')" onmouseout="setOldImage1('{{ k }}', '{{ y }}')">
                                            <area shape="rect" coords="100,0,200,200" alt="goto" href="/removealbum?Album={{ k }}"  onmouseover="setNewImage1('{{ k }}')" onmouseout="setOldImage1('{{ k }}', '{{ y }}')">
                                        </map>
                                    </div>
                                {% endwith %}
                            {% endfor %}
                        </div>
                    </div>

                </div>

                <div class="row" style="display: flex; margin-top: 2%">
                    <div class="column" style="flex: 20%; text-align: center;">
						<i  style="color: #A6ADAC" class="fas fa-th fa-7x"></i>
						<h1 style="margin-top: 5%; color: white">{{ cgenres }} GENRES</h1>
					</div>
                    <div class="column" style="flex: 80%;">
                        <div class="grid-container">
                            {% for k,v in genres.items %}
                                {% with y=g_photo|get_item:k %}
                                    <div class="grid-item" style="margin-left: 100px">
                                        <img id="{{ k }}" src="{{ y }}" style="display: block;  width: 200px; height: 200px" usemap="#workmap2'{{forloop.counter}}'"/>
                                        <p style="font-size: 20px; color: white">{{ v }}</p>
                                        <map name="workmap2'{{forloop.counter}}'">
                                            <area shape="rect" coords="0,0,100,200" alt="playlist" href="/genre_details2?Genre={{ k }}"  onmouseover="setNewImage1('{{ k }}')" onmouseout="setOldImage1('{{ k }}', '{{ y }}')">
                                            <area shape="rect" coords="100,0,200,200" alt="goto" href="/removegenre?Genre={{ k }}"  onmouseover="setNewImage1('{{ k }}')" onmouseout="setOldImage1('{{ k }}', '{{ y }}')">
                                        </map>
                                    </div>
                                {% endwith %}
                            {% endfor %}
                        </div>
                    </div>

                </div>


				<div  class="row" style="display: flex;  margin-top: 5%; margin-bottom: 2%">
					<div class="column" style="margin-left: 40px">
						<i  style="color: #A6ADAC" class="fas fa-user fa-7x"></i>
						<h1 style="margin-top: 5%;margin-left: 20px; color: white">{{ cartist }} ARTISTS</h1>
					</div>


                    <div class="column" style="margin-left: 30px;display: flex;">
                        <div class="grid-container">
                        {% for k,v in artist.items %}
                            {% with y=a_photo|get_item:k %}
                                <div class="grid-item" style="margin-left: 100px;">
                                    <img id="{{ k }}" src="{{ y }}" style="display: block;  width: 200px; height: 200px"  usemap="#workmap3'{{forloop.counter}}'"/>
                                    <p style="font-size: 20px; color: white">{{ v }}</p>
                                    <map name="workmap3'{{forloop.counter}}'">
                                        <area shape="rect" coords="0,0,100,200" alt="playlist" href="/artist_details?Artist={{ k }}" onmouseover="setNewImage1('{{ k }}')" onmouseout="setOldImage1('{{ k }}', '{{ y }}')">
                                        <area shape="rect" coords="100,0,200,200" alt="goto" href="/removeartist?Artist={{ k }}" onmouseover="setNewImage1('{{ k }}')" onmouseout="setOldImage1('{{ k }}', '{{ y }}')">
                                    </map>
                                </div>
                            {% endwith %}
                        {% endfor %}
                        </div>
                    </div>
                </div>


			</div>

            <script>
                {% load staticfiles %}
                
                function setNewImage1(b){
                    console.log(b);
                    document.getElementById(b).src='{% static "images/opt.png" %}';
                }

                function setOldImage1(k,y){

                    document.getElementById(k).src=y;
                }
            </script>


{% endblock %}